/** @format */

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-medium;
  src: url(fonts/Roboto-Medium.ttf);
}

body {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  flex-wrap: wrap;
}

h1 {
  font-family: Roboto-medium;
  font-size: 69.45px;
  color: white;
}

h2 {
  font-family: Roboto-medium;
  font-size: 30px;
  color: #05073c;
}

h3 {
  font-family: Roboto;
  font-size: 15.88px;
  color: #05073c;
}

.destination {
  font-family: Roboto;
  font-size: 13.67px;
  color: #717171;
}

p {
  font-family: Roboto-medium;
  font-size: 19.53px;
  color: #05073c;
}

a {
  text-decoration: none;
}

.name {
  font-family: Roboto-medium;
  font-size: 15.75px;
  color: #05073c;
}

.white-span {
  font-family: Roboto;
  font-size: 14.53px;
  color: white;
  text-align: left;
}

.nav-name {
  font-family: Roboto-medium;
  font-size: 14.77px;
  color: #05073c;
}

.container {
  display: flex;
  width: 80%;
  margin: 0px auto;
}

.fixed {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
}

.logo-nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  gap: 30px;
}

.nav-link {
  transition: all 0.3s;
  transition-delay: 0.2s;
}

.nav-link:hover {
  color: #eb662b;
}

.support {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  gap: 30px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.support-button {
  border: none;
}

.support-button:hover .nav-link {
  border: 1px solid #eb662b;
  border-radius: 200px;
  padding: 15px;
}

.burger-menu {
  display: none;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #eb662b;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.burger-nav {
  display: none;
}

.promote {
  width: 100%;
  padding-top: 20px;
}

.search-box {
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.details-box {
  display: grid;
  grid-template-columns: 250px 250px 250px;
}

.tour-detail-box {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.tour-logo {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 248, 245);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-top: 7px;
}

.detail-name {
  font-family: Roboto-medium;
  font-size: 19px;
  color: #05073c;
}

.detail-gray {
  font-family: Roboto-medium;
  font-size: 14px;
  color: #717171;
}

.detail-search-box {
  width: 130px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #eb662b;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
  transition-delay: 0.2s;
}

.detail-search-box:hover {
  opacity: 0.8;
}

.promote-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30px;
}
.item {
  display: none;
  text-align: center;
}
.active {
  display: block;
}
.promote-img {
  width: 100%;
  height: 500px;
  object-position: center;
  object-fit: cover;
  position: relative;
}
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  color: black;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn.prev {
  left: 1%;
}
.btn.next {
  right: 1%;
}
.promotion-dots {
  display: none;
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #eb662b;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.active-dot {
  background-color: #717171;
}

.slide-shape {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
}

.promote-content {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 500px;
  width: 49%;
  display: flex;
  background-color: #eb662b;
  align-items: center;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-heading {
  display: flex;
  height: 42px;
}

.white-heading {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 100;
  color: white;
  text-align: left;
}

.brush-content {
  position: relative;
  width: 190px;
}

.brush {
  position: relative;
}

.orange-heading {
  position: absolute;
  color: #eb662b;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 100;
  left: 10%;
}

.book-promote {
  height: 60px;
  width: 160px;
  background-color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto Medium;
  font-size: 15px;
  color: #eb662b;
  margin-top: 20px;
  transition: all 0.3s linear;
  transition-delay: 0.2s;
}

.book-promote:hover {
  opacity: 0.8;
}

.promote-responsive-box {
  display: none;
}

.offer-box {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 20px;
  width: 100%;
}

.offer-heading-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.offer-selector {
  font-family: Roboto-medium;
  font-size: 14px;
  color: black;
  cursor: pointer;
}

.selector{
  font-family: Roboto-medium;
  font-size: 14px;
  border: none;
  background: transparent;
  color: black;
  cursor: pointer;
}

.offer-card-box {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offer-card {
  display: flex;
  gap: 15px;
  align-items: center;
  
}

.offer-photo-box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-self: center;
}

.offer-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.offer-description-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100px;
  width: 190px;
  justify-content: center;
}

.orange-span{
  font-family: Roboto-medium;
  font-size: 14px;
  color: #eb662b;
}

.hidden-offer{
  display: none;
}



/*responsive*/
@media (max-width: 1180px) {
  .navigation {
    gap: 10px;
    padding-left: 20px;
  }

  .support {
    gap: 10px;
    padding-left: 20px;
  }

  .search-box {
    flex-direction: column;
    gap: 20px;
  }

  .detail-search-box {
    width: 250px;
  }

  .slide-shape {
    display: none;
  }

  .promote-content {
    display: none;
  }

  .promote-responsive-box {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 5px;
  }

  .brush-content {
    width: 160px;
  }

  .brush {
    width: 160px;
    height: 46px;
  }

  .white-heading {
    font-size: 25px;
  }

  .orange-heading {
    font-size: 25px;
  }
}

@media (max-width: 960px) {
  .details-box {
    display: flex;
    flex-direction: column;
    width: 88%;
    gap: 15px;
  }

  .tour-detail-box {
    border: 1px solid #eb662b;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s linear;
    transition-delay: 0.2s;
  }

  .tour-detail-box:hover {
    background-color: #717171;
  }

  .tour-detail-box:hover .detail-gray {
    color: white;
  }
}

@media (max-width: 923px) {
  .burger-nav {
    position: absolute;
    left: -100%;
    top: 80px;
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 248, 255, 0.8);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    list-style: none;
    gap: 20px;
    padding: 15px 0;
    border-radius: 4%;
  }

  .burger-nav.active {
    left: 0px;
  }

  .nav-box {
    display: none;
  }

  .support-box {
    display: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
  }

  .burger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active .bar:nth-child(1) {
    transform: translateY(13.5px) rotate(45deg);
  }

  .burger-menu.active .bar:nth-child(3) {
    transform: translateY(-13.5px) rotate(-45deg);
  }

  .brush-content {
    width: 140px;
  }

  .brush {
    width: 140px;
    height: 46px;
  }

  .orange-heading {
    left: 10%;
  }
}

@media (max-width: 768px) {
  .content-heading {
    display: none;
  }

  .responsive-promote-heading {
    display: block;
  }
}
